body, div, section, nav, span, button{
    margin: 0;
    padding: 0;
    font-family: 'Karantina', cursive;
    box-sizing: border-box;
}
.cabecera, .cabecera-section{
    position: relative;
    width: 100vw;
    text-align: center;
}
.image{
    width: 100vw;
    height: 200px;
    background: url('../resources/shoes3.jpeg');
    background-size: cover;
}
.title, .section-title{
    position: absolute;
    color: white;
    top: 90px;
    font-weight: 400;
    font-size: 50px;
    height: 40px;
    width: 100vw;
}
.title-background, .section-background{
    position: absolute;
    top: 90px;
    background: silver;
    opacity: 0.4;
    height: 40px;
    width: 100vw;
}
.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 40%;
    margin: 10px;
    overflow: hidden;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}
.background-card{
    width: 100%;
    height: 80px;
}
.background-card img{
    width: 100%;
    background-size: cover;
    border-radius: 5px;
}
.hot-items{
    margin-left: 25px;
}
.categories{
    margin: 30px 25px;
}
.category3{
    margin-bottom: 100px;
}
.buttons{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.home, .search, .liked, .shopping-car{
    width: 20%;
    display: flex;
    align-items: center;
}
.buttons img{
    width: 100%;
    height: 40px;
}
.title-card{
    margin: 30px 0 0 0;
}
.price{
    font-size: 16px;
    position: relative;
    font-weight: bold;
}
.price span{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
}
.category1, .category2, .category3{
    height: 300px;
    overflow: hidden;
    transition-duration: 300ms;
}
.category1 img{
    width: 50%;
}

/*--------imagenes de cabecera------------------ */
.cabecera-section{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.section-background{
    height:100px;
}
.button{
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    outline: none;
    border: none;
    background: #05a081;
    border-radius: 10px;
    font-size: 30px;
    text-align: left;
    padding-left:20px;
}
.arrow-down{
    width: 40px;
    height: 40px;
    background:url('../resources/arrow-down.svg');
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 90px;
    transform: rotate(180deg);
}
.section-imagen{

    background: url('../resources/shoes2.jpeg');
}
.section-imagen2{
    background: url('../resources/shoes4.jpeg');
}
.section-imagen3{
    background: url('../resources/shoes5.jpeg');
}
.section-imagen2, .section-imagen, .section-imagen3{
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    overflow: scroll;
}
.product-container img{
    width: 45%;
    height: 30%;
    margin: 2px;
    border-radius: 10px;
}

/*clase mostrar contenido*/
.mostrar{
    height: auto;
}